.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: var(--primary-light);
}








.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 141px;
}



.checkout {
  background-color: var(--white-color);
  width: 730px;
  border-radius: 8px;
  padding: 54px 48px 48px 48px;
}


.checkout__title {
  margin-bottom: 41px;
  text-transform: uppercase;
}

.details {}

.details__title {
  margin-bottom: 16px;
  font-size: 13px;
  color: var(--primary-color);
  text-transform: uppercase;

}

.details__inputs {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;

}

input ::placeholder {
  color: aqua;
}









.shipping {
  margin-top: 53px;
  margin-bottom: 61px;
}

.shipping label {
  width: 100%;
}








.payment {}

.payment__method {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 149px;
}

.payment__method p {
  font-size: 12px;
  font-weight: 700;
  width: 320px;
}

.payment__method-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 24px;
  gap: 16px;
  width: 100%;
}



.summary {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 612px;
  background-color: var(--white-color);
  border-radius: 8px;
  padding: 32px;
}