.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: var(--primary-light);
}








.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 141px;
}



.checkout {
  background-color: var(--white-color);
  width: 730px;
  border-radius: 8px;
  padding: 54px 48px 48px 48px;
}


.checkout__title {
  margin-bottom: 41px;
  text-transform: uppercase;
}

.details {}

.details__title {
  margin-bottom: 16px;
  font-size: 13px;
  color: var(--primary-color);
  text-transform: uppercase;

}

.details__inputs {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;

}

input ::placeholder {
  color: aqua;
}









.shipping {
  margin-top: 53px;
  margin-bottom: 61px;
}

.shipping label {
  width: 100%;
}








.payment {}

.payment__method {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 149px;
}

.payment__method p {
  font-size: 12px;
  font-weight: 700;
  width: 320px;
}

.payment__method-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 24px;
  gap: 16px;
  width: 100%;
}



.summary {
  display: flex;
  flex-direction: column;
  width: 350px;
  background-color: var(--white-color);
  border-radius: 8px;
  padding: 32px;
  height: fit-content;
}

.summary__title {
  margin-bottom: 31px;
}


.product {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}


.product img {
  width: 64px;
  height: 64px;
  margin-right: 18px;

}

.productDetails {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productContent {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.productContent>:first-child {
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--primary-dark);
  display: inline-block;
  width: 10ch;
  overflow: hidden;
  white-space: nowrap;
}

.productContent>:last-child {
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  color: var(--border-bottom);
}

.empty {
  margin-bottom: 32px;
}

.amountControls {
  /* width: 96px; */
  height: 32px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 12px;
  padding: 7px 12px;
  background-color: var(--primary-light);
}

.amountControls button,
span {
  border: none;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--border-bottom);
}

.amountControls span {
  color: var(--primary-dark);
}


.total__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}



h6 {
  text-transform: uppercase;
}


.total__wrapper> :first-child {
  color: var(--border-bottom);
}